

.ui-widget {
  font-family: 'Gotham' !important;
}

.ui-widget-content {
  border: 1px solid rgba(213, 213, 213, 0) !important;
  background-color: #fff !important;
  font-family: 'Gotham' !important;
}

.ui-datatable table {
  table-layout: auto !important;
}

.ui-column-title {
  font-family: Gotham;
  font-size: 12px;
  font-weight: bold;
  color: #494949;
}

/*p-datatable tr {
    white-space: nowrap;
}*/

.text-left th {
  text-align: left;
}

.ui-paginator-first {
    display: none !important;
    background: transparent !important;
}

.ui-paginator-prev {
    border: none !important;
    background: transparent !important;
}

.ui-paginator-prev > span {

}


.ui-paginator-next {
    border: none !important;
    background: transparent !important;
}

.ui-paginator-last {
    display: none !important;
}

.ui-corner-all {
    box-shadow: none !important;
}

.ui-cell-data {
  font-family: Gotham;
  font-size: 13px;
  font-weight: bold;
  color: #494949;
}

.ui-datatable thead {
    border-bottom: 5px solid #f9f9f9 !important
}

.ui-datatable thead tr {}

.ui-datatable th.ui-state-default {
  background-color: #fff !important;
  border: 1px solid rgba(213, 213, 213, 0) !important;
  border-top: 1px solid #c20600 !important;
}

.ui-datatable th.ui-state-active {
  color: #c20600;
}

.ui-sortable-column-icon {
  color: #c20600;
}

.ui-widget-content tr {
  border-bottom: 5px solid #f9f9f9 !important;
}

.ui-widget-header {
  border: 1px solid rgba(213, 213, 213, 0) !important;
  background: none !important;
}


.ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active {
  border: 1px solid #c20600;
  background: #c20600;
}

.ui-datatable tbody>tr.ui-widget-content.ui-state-highlight {
  color: inherit;
}

.ui-paginator .ui-paginator-page {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
}

.pagination-stats-footer {
	margin-left:auto;
	margin-right:auto;
	display:block;
	text-align: center;
	font-family: Gotham;
    font-size: 11px;
	font-weight: 300;
	color: #494949;
}

/*.ui-paginator .ui-paginator-page.ui-state-active {
  background: transparent;
  border-color: transparent;
  color: #c20600;
  font-family: Gotham;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}

.ui-paginator-page.ui-paginator-element.ui-state-default {
  border: none;
  font-size: 14px;
  color: #555555 !important;
  background-color: transparent;
}*/

.ui-paginator-page.ui-paginator-element.ui-state-default {
  border: none;
  font-size: 14px;
  color: #555555 !important;
  background-color: transparent;
}

.ui-paginator-page.ui-paginator-element.ui-state-default.ui-state-active {
    background: transparent;
    border-color: transparent;
    color: #c20600 !important;
    font-family: Gotham;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
}

.ui-datatable .ui-datatable-thead>tr>th {
  background-color: #c20600;
}

.ui-paginator-pages a:focus {
    outline: none !important;
}

.fa-forward:before {
  content: "\F054";
}

.fa-backward:before {
  content: "\F053";
}

.mat-ink-bar {
  background-color: #c20600;
  height: 3px !important;
}

.ui-accordion .ui-accordion-header .fa {
  right: .5em;
  left: auto;
}

.ui-accordion .ui-accordion-header {
  background-color: #ffffff;
  margin-top: 12px;
  border: none;
  border-bottom: 1px solid #696969;
  font-family: 'Gotham-Medium';
  font-size: 18px;
  padding: 15px 0 15px 0;
  color: #494949;
}

.ui-corner-all {
  border-radius: 0;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08);
  border-color: #696969;
}

.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
  border-color: #696969;
}

a:focus, a:hover {
  text-decoration: none;
}

.ui-accordion .ui-accordion-header a {
  color: #494949;
}

.ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
  color: #494949;
}
