@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/font-gotham/GOTHAM-LIGHT.TTF') format('truetype'),
  url('/assets/fonts/font-gotham/gotham-light.eot?#iefix')format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('/assets/fonts/font-gotham/GOTHAM-BOLD.TTF') format('truetype'),
  url('/assets/fonts/font-gotham/gotham-regular.eot?#iefix')format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('/assets/fonts/font-gotham/GOTHAM-MEDIUM.TTF') format('truetype'),
  url('/assets/fonts/font-gotham/gotham-medium.eot?#iefix')format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Gotham-Black';
  src: url('/assets/fonts/font-gotham/GOTHAM-BLACK.TTF') format('truetype'),
  url('/assets/fonts/font-gotham/gotham-black.eot?#iefix')format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/open-sans/OpenSans-Regular.ttf') format('truetype'),
  url('/assets/fonts/open-sans/OpenSans-Regular.svg#Locaweb-Icons') format('svg'),
  url('/assets/fonts/open-sans/open-sans.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #ED1C24 !important;
}

html, body {
  font-family: 'Gotham' !important;
  // position: relative;
  min-width: 1200px;
  // min-height: 700px;
  height: 100%;
  //width: 100vw;
  // height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

#header, #footer {
    width: inherit;
    height: 24px;
    margin: 0 auto;
    background-color: blue;
}

.center-spinner {
    width: 50%;
    top: 43%;
    position: absolute;
}

.mat-input-container{
  font-family: 'Gotham' !important;
}
//
// .mat-input-underline {
//   position: relative !important;
// }

.mat-raised-button[disabled][disabled] {
  background-color: rgba(16, 16, 16, 0.12) !important;
}

// .mat-input-wrapper {
//     margin: 0.5em 0 !important;
//     padding-bottom:0;
// }
//
// .mat-input-underline {
//   border-color: rgba(0, 0, 0, 0.35);
//   height: 2px !important;
// }

.mat-input-element {
  font-family: Gotham-Medium !important;
  background: 0 0;
  color: black !important;
  border: none;
  outline: 0;
  padding: 0;
  width: 100%;
  font-weight:normal !important;
  vertical-align: bottom;
}

.mat-input-placeholder {
  color: black;
}

.mat-select {
  margin: 8px 0 !important;
  display: block !important;
  outline: 0;
  font-family: Gotham !important;
}

.mat-select-placeholder {
  position: relative;
  padding: 0px 0px !important;
  transform-origin: bottom left !important;
  flex-grow: 1;
  color: black !important;
  font-family: Gotham !important;
}


/* disable styles */
.mat-input-element:disabled {
    color: #DDDEDE !important;
}
.mat-select-disabled .mat-select-value {
  color: #DDDEDE !important;
  font-family: Gotham-Medium !important;
}


.mat-select-value {
  color: black !important;
  font-family: Gotham-Medium !important;
}

.mat-select-underline {
  background-color: rgba(0, 0, 0, 0.12);
  height: 1px !important;
  bottom: -1px !important;
}

.mat-select-trigger {
  display: flex;
  align-items: center;
  height: 44px !important;
  min-width: 112px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
}

.mat-dialog-content {
  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  max-height: 100% !important;
  overflow: auto;
}

// .mat-input-underline {
//   position: absolute;
//   height: 1px;
//   width: 100%;
//   margin-top: 7px !important;
//   border-top-width: 1px;
//   border-top-style: solid;
// }
//
// .mat-input-underline.mat-disabled {
//     background-image: linear-gradient(to right,rgba(0,0,0,.26) 0,rgba(0,0,0,.26) 33%,transparent 0);
//     background-size: 4px 2px !important;
//     background-repeat: repeat-x;
//     border-top: 0;
//     background-position: 0;
//     margin-top: 7px !important;
// }

[aria-disabled=true] .mat-select-underline {
    background-image: linear-gradient(to right,rgba(0,0,0,.26) 0,rgba(0,0,0,.26) 33%,transparent 0);
    background-size: 4px 1px !important;
    background-repeat: repeat-x;
    background-color: transparent;
    background-position: 0 bottom;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 3px;
}

.Gotham-Bold{
  font-family: 'Gotham-Bold' !important;
}
.Gotham-Medium{
  font-family: 'Gotham-Medium' !important;
}
.Gotham-Black{
  font-family: 'Gotham-Black' !important;
}
.Gotham-Book{
    font-family: 'Gotham-Book' !important;
}
.OpenSans{
  font-family: 'OpenSans' !important;
}

.h-fill {
  height:100%
}
.h-fill div {
  height:100%
}

.w-fill {
    width:100%
}

.center-content {
  display: table;
}

.center-content * {
  display: table-cell !important;
  vertical-align: middle !important;
}

.size-10 {
  font-size: 10px !important;
}

.size-12 {
  font-size: 12px !important;
}

.size-13 {
  font-size: 13px !important;
}

.size-14 {
  font-size: 14px !important;
}

.size-15 {
  font-size: 15px !important;
}

.size-16 {
  font-size: 16px !important;
}

.size-17 {
  font-size: 17px !important;
}

.size-18 {
  font-size: 18px !important;
}

.size-19 {
  font-size: 19px !important;
}

.size-20 {
  font-size: 20px !important;
}



.clickable{
  cursor: pointer !important;
}

@media (min-width: 1024px) {
    .pipe {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 1442px) {
    .pipe {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.vcenter {
    display: flex;
    align-items : center;
    position: relative;
}

div.vcenter  {
    display: flex;
    align-items : center;
    position: relative;
}

.left-menu {
    left:10px;
}

.right-menu {
    right:30px;
}

.center-text {
    display: table;
}

@media (min-width:768px) {
    .icon-left {
        margin-right: 5px;
    }
}

@media (min-width:1333px) {
    .icon-left {
        margin-right:15px
    }
}

.arrow {
    border-left: 5px solid transparent;
    border-right:5px solid transparent;
    border-top: 5px solid;
}

div.vcenter > * {
    position: absolute;
}

.btn-red {
  font-family: 'Gotham-Bold' !important;
  border-radius: 6px !important;
  background-color: #ed1c24 !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-align: center !important;
  color: #ffffff !important;
  outline: 0 !important;
}

.btn-red:focus {
  background-color: #c20600 !important;
}

.btn-red:hover {
  background-color: #c20600 !important;
}


.mat-dialog-container{
  padding: 0 !important;
  overflow: hidden !important;
}

.btn-approve{
  width: 177px !important;
  height: 55px !important;
  border-radius: 6px !important;
  background-color: #ed1c24 !important;
  font-family: Gotham-Bold !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-align: center !important;
  color: #ffffff !important;
}

.btn-reject{
  width: 177px !important;
  height: 55px !important;
  border-radius: 6px !important;
  border: solid 1px #979797 !important;
  font-family: Gotham !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  text-align: center !important;
  color: #959595 !important;
}

.white-bkg{
  background-color: #ffffff
}

[disabled].mat-fab, [disabled].mat-mini-fab, [disabled].mat-raised-button{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.btn-close {
    width: 18px;
    height: 30px;
    font-family: FontAwesome;
    font-size: 30px;
    color: #696969;
    cursor: pointer !important;
}

.btn-edit{
  width: 93px;
  height: 29px;
  border: solid 1px #444444;
  float: right;
  font-family: Gotham;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.6px;
  line-height: 30px;
  text-align: left;
  color: #444444;
  letter-spacing: 0.8px;
}

th.fontCssOkHeaderIntegrationError span{
  width: 21px !important;
  height: 11px !important;
  font-family: Gotham-Black !important;
  font-size: 13px !important;
  font-weight: 900 !important;
  color: #1bbb07 !important;
}

th.fontCssErrorHeaderIntegrationError span{
  width: 39px !important;
  height: 11px !important;
  font-family: Gotham-Black !important;
  font-size: 13px !important;
  font-weight: 900 !important;
  color: #ed1c24 !important;
}

.btn-confirm-modal{
  height:50px;
  border-radius: 6px !important;
  background-color: #ed1c24 !important;
  font-family: Gotham-Bold !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-align: center !important;
  color: #ffffff !important;
}

.btn-cancel-modal{
  height:50px;
  border-radius: 6px !important;
  border: solid 1px #979797 !important;
  background-color: transparent !important;
  font-family: Gotham !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  text-align: center !important;
  color: #959595 !important;
}

.material-icons.md-14 {
font-size: 14px !important;
height: 14px !important;
width: 14px !important;
}

.filter-selected {
  border-bottom: 2px solid;
}

.reducePadding
{
  padding-top:3px !important;
}
.noPaddingTop
{
  padding-top:0px  !important;
}

.checkBoxOcupacaoProfissional .mat-checkbox-inner-container
{
  margin-top:2px;
}



/*css calendar*/
.material-calendar {
  line-height: normal;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  max-width: 100%;
  width: 100%;
  margin-top: 22px;
  top: 3px;
  font-family: "Ubuntu", "Trebuchet MS", Arial, sans-serif !important;
}
.material-calendar .ui-datepicker .ui-datepicker-calendar {
  color: #1a4073 !important;
  background: #fff;
  table-layout: fixed;
  width: 100% !important;
}

.material-calendar .ui-datepicker {
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2) !important;
  width: 100%;
  max-width: 300px;
  table{
    font-size: .8em;
  }
}

.material-calendar .ui-datepicker .ui-datepicker-calendar td :not(.ui-state-disabled) a:hover {
  background-color: #e9e9e9;
  color: #1a4073;
  font-family: "Ubuntu", "Trebuchet MS", Arial, sans-serif;
}
.material-calendar .ui-datepicker .ui-datepicker-calendar td a.ui-state-active {
  background-color: #1a4073;
  color: #fff;
  font-family: "Ubuntu", "Trebuchet MS", Arial, sans-serif;
}
.material-calendar .ui-datepicker .ui-datepicker-calendar td a.ui-state-highlight {
  font-family: "Ubuntu", "Trebuchet MS", Arial, sans-serif;
}
.material-calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  color: #224778 !important;
}
.material-calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  color: #224778 !important;
}
.material-calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-month {
  background: transparent;
  border: none;
  margin-right: 0.25em;
  border-bottom: 3px solid #224778;
  outline: none;
  color: #1a4073;
  font-family: "Ubuntu", "Trebuchet MS", Arial, sans-serif !important;
  font-weight: bold !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("/assets/imgs/arrow_down.png") no-repeat right;
}
.material-calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-month option {
  background: #fff;
}
.material-calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-year {
  background: transparent;
  border: none;
  margin-right: .25em;
  border-bottom: 3px solid #224778;
  outline: none;
  color: #1a4073;
  font-family: "Ubuntu", "Trebuchet MS", Arial, sans-serif !important;
  font-weight: bold !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("/assets/imgs/arrow_down.png") no-repeat right;
}
.material-calendar .ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-year option {
  background: #fff;
}
.material-calendar .ui-state-default{
  border: unset !important;
  /*font-weight: 900 !important;*/
  font-family: Gotham-Medium !important;
  color: black !important;
}
.material-calendar .ui-calendar input, .material-calendar.ui-calendar-w-btn input {
  background-color: transparent;
  border: none;
  width: 100%;
  font-family: "Ubuntu", "Trebuchet MS", Arial, sans-serif;
  font-size: em(16) !important;
  color: #1a4073 !important;
  font-weight: bold;
  text-align: left;
}
.material-calendar .ui-calendar input::-webkit-input-placeholder, .material-calendar.ui-calendar-w-btn input::-webkit-input-placeholder {
  font-weight: normal;
}
.material-calendar .ui-inputtext:focus {
  box-shadow: none;
}
.material-calendar .ui-button:enabled {
  background-color: transparent !important;
  border: none;
  color: #c8b895;
  right: 0px;
}
.material-calendar .ui-button:enabled:hover {
  border: none;
  color: #c8b895;
}
.material-calendar .ui-button:enabled:active {
  background-color: transparent !important;
  border: none;
}
