@font-face {
  font-family: 'Gotham';
  src: url('/assets/fonts/font-gotham/GOTHAM-LIGHT.TTF') format('truetype'),
  url('/assets/fonts/font-gotham/gotham-light.eot?#iefix')format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('/assets/fonts/font-gotham/GOTHAM-BOLD.TTF') format('truetype'),
  url('/assets/fonts/font-gotham/gotham-regular.eot?#iefix')format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('/assets/fonts/font-gotham/GOTHAM-MEDIUM.TTF') format('truetype'),
  url('/assets/fonts/font-gotham/gotham-medium.eot?#iefix')format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/open-sans/open-sans.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/open-sans/OpenSans-Regular.svg#Locaweb-Icons') format('svg'),
  url('/assets/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('/assets/fonts/font-gotham/GOTHAM-BLACK.TTF') format('truetype'),
  url('/assets/fonts/font-gotham/gotham-black.eot?#iefix')format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  position: relative;
  height: 100%;
  font-family: "Gotham";
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background-color: #f9f9f9;
  /*margin-bottom: -71px;*/
}

.controlDate{
  float: right !important;
  margin-top: -87px !important;
}

input.select-dropdown{
  text-overflow: ellipsis;
  font-weight: normal !important;
}

my-app {
  display: flex;
  min-height: 100vh !important;
  flex-direction: column;
}

registration-component {
  min-height: 100vh !important;
}

/* /deep/ .dropdown-content {
    z-index:1200 !important;
} */

form p {
    text-align: justify !important;
}

.basic-information {
  min-height: 100vh !important;
  background: url('/assets/img/basic_inf_bg.png') no-repeat center center fixed;
  background-size: cover;
}

.continue-registration-component {
  min-height: 100vh !important;
  background-image: url("/assets/img/basic_inf_bg.png");
  background-size: cover;
}

.investiment-objective {
  min-height: 100vh !important;
  background-image: url("/assets/img/invst_target_bg.png");
  background-size: cover;
}

personal-doc-component {
  min-height: 100vh !important;
}

personal-data-component {
  min-height: 100vh !important;
}

main {
  min-height: 75vh;
  flex: 1 0 auto;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  font-size: 15px !important;
  font-weight: bold;
}


/* INICIO CSS MODAL SAVEANDCONTINUELATER*/

.modal {
  width: 53% !important;
  max-height:  100% !important;
}

.match-modal {
  width: 40% !important;
}

.modal .modal-content .row{
    margin-bottom: 10px !important;
}

.width80{
  width: 80% !important;
}

/* CONTROLA A NAVBAR E CONTENT*/

.controlNavbar{
  position: fixed;
}

#content-main{
  margin-left:330px;
  /* min-height: 1400px; */
}

#controlSubContent{
  width:80%;
  min-height: 90vh;
  margin-top: 50px;
}

@media (max-width: 1200px){
  body{
    overflow-x: hidden;
  }

  .controlNavbar{
    margin-top: -18px !important;
  }

  #content-main{
    margin-left:280px !important;
  }

  #controlSubContent{
    width: 90%;
  }

  >>> .slider2[_ngcontent-c2]{
    margin-top: 35px !important;
  }
}


.fontModalText1 {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: 0.2px;
  text-align: center;
  color: #434343;
  font-family: Gotham-Medium;
}

.fontModalText2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.2px;
  color: #434343;
  margin-top: 12px;
  font-family: Gotham-Medium;
}

.increaseMarginTop{
  margin-top: 12px;
}

.separator {
  margin-top: 5px;
  width: 3px;
  height: 45px;
  background-color: #ed1c24;
}

.fontPercentageModal {
  font-size: 45px;
  line-height: 1.2;
  font-weight: bolder;
  letter-spacing: 0.4px;
  color: #ed1c24;
}

.fontBotaoContinuarModal {
  border-radius: 6px;
  background-color: #ed1c24;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  /*margin-left: 20px;*/
  text-transform: none;
  width: 100% !important;
}

.fontBotaoSalvarModal {
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #959595;
  text-transform: none;
  width: 100% !important;
}

@media only screen and (min-width: 1350px) and (max-width: 1495px){
    .fontBotaoContinuarModal, .fontBotaoSalvarModal {
      font-size: 12px;
  }
}

.fontBotaoSalvarModal:hover {
  color: white;
}

.spacingButtons {
  margin-top: 40px;
  margin-bottom: 0px;
}

.spacingContent {
  margin-bottom: 20px;
  padding: 0 !important;
}

.noPaddingModal
{
  padding: 0 !important;
}

.paddingLeftRight{
  padding:0 5px !Important;
}

/* FIM CSS MODAL SAVEANDCONTINUELATER*/


/* INICIO CSS MODAL PENDENCIAS*/

.fontTituloPendencias {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 0.2px;
  color: #434343;
  margin-bottom: 30px;
}

.fontTextoPendencias {
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.38;
  letter-spacing: 0.1px;
  color: #5e6361;
  margin-left: 15px;
}

.boxPendencias {
  background-color: #f8f8f8;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0 1.75rem;
  cursor: pointer;
}

.rowPendencias {
  margin-left: 0;
  margin-right: 0;
}

.contentPendencias {
  margin-left: 30px;
  margin-right: 30px;
}

.modalPendencias {
  background: #ffffff;
}


/* FIM CSS MODAL PENDENCIAS*/


/* increase the height and width as you desire */

.Rectangle-3 {
  width: 145px;
  height: 52px;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.42;
  text-align: center;
  color: #767676;
}

.material-tooltip {
  width: 200px;
  text-align: left;
}


/** CSS para validação de input do formulário **/

.input-field input.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.input-field input.ng-invalid.ng-dirty {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.input-field input.ng-valid.ng-touched {
  border-bottom: 1px solid #00E676;
  box-shadow: 0 1px 0 0 #00E676;
}

input[type=text].valid {
  border-bottom: 1px solid #00E676;
  box-shadow: 0 1px 0 0 #00E676;
}

.input-field div.input.ng-invalid.ng-touched.invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}


/*.ng-valid[required], .ng-valid.required  {
  border-bottom: 1px solid #00E676;
  box-shadow: 0 1px 0 0 #00E676;
}
.ng-invalid:not(form)  {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}*/

.financial-info-subtitle-margin {
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom:35px;
    margin-right: 50px
}

.select-wrapper.ng-invalid.ng-dirty input.select-dropdown {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.select-wrapper.ng-valid input.select-dropdown {
  border-bottom: 1px solid #00E676;
  box-shadow: 0 1px 0 0 #00E676;
}


/*.file-field input.file-path.invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

.file-field input.file-path.valid {
    border-bottom: 1px solid #00E676;
    box-shadow: 0 1px 0 0 #00E676;
}*/


/******/

.custom-panel {
  margin-top: 0;
}

.LittleGrayBox {
  width: 100%;
  height: 47px;
  background-color: #f1f1f1;
}

.subTitleCadastro {
  font-size: 13px;
  letter-spacing: 0.1px;
  text-align: center;
  color: #494949;
}

.fontForm {
  font-size: 14px;
  text-align: left;
  color: #8e8e8e;
  font-family: Gotham;
}
.fonteDocumentos{
  font-family: Gotham;
  color: #8e8e8e;
  font-size: 14px;
}

.fontFormTitulo {
  font-size: 21px;
  font-weight: 900;
  letter-spacing: 0.3px;
  color: #2e3532;
  font-family: OpenSans;
}

.fontFormTituloInterior {
  font-family: OpenSans;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #2e3532;
}

.fontFormTitulofinish {
  font-family: Gotham-Medium;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #2e3532;
}


/*Inicio modal imageAdress */

.fontTituloEspAddre {
  font-family: Gotham-Black !important;
  font-size: 23px;
  line-height: 1.3;
  letter-spacing: 0.3px;
  color: #ed1c24;
}

.fonttextEspAddre {
  font-family: Gotham;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.31;
  letter-spacing: 0.2px;
  color: #a8a8a8;
}

.boxListModal {
  margin-left: 21px;
  list-style-type: square !important;
  font-size: 22px;
  font-style: normal;
  font-stretch: normal;
  line-height: 200%;
  letter-spacing: 0.1px;
  color: #ed1c24;
}

.boxListModal span {
  font-family: Gotham-Medium !important;
  ;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #a8a8a8;
}


/*Final modal imageAdress */

.fontAddressWorking {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #2e3532;
}

.fontFormSubTitulo {
  font-family: OpenSans;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #737373;
}

.fontTextDeclarations {
  height: 18px;
  font-size: 17px;
  font-weight: 300;
  color: #8e8e8e;
}

.fontFormInfoFin {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #2e3532;
}

.FontBotaoProximo {
  border-radius: 6px;
  background-color: #ed1c24;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 20px;
  text-transform: none;
}

.FontBotaoProximo:hover {
  color: #ffffff !important;
  background-color: #c20600;
  font-size: 17px;
}

.FontBotaoProximo:focus {
  color: #ffffff !important;
  background-color: #c20600;
  font-size: 17px;
}

.declaro_estar_ciente
{
  width: 396px;
  height: 30px;
  font-family: Gotham;
  font-size: 12px;
  font-weight: 300;
  color: #494949;
}

.fontBotaoSalvarContinuar {
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  color: #959595;
  text-transform: none !important;
}

.fontBotaoSalvarContinuar:hover {
  color: white;
}

.docTextUpload {
  font-family: OpenSans;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #737373;
}

.FontBotaoSalvarContinuar {
    background-color: #ed1c24;
}

.FontBotaoSalvarContinuar:hover {

  color: #ffffff !important;
  background-color: #c20600;
  height:55px;
}

.fontbuttonModal {
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #979797;
  text-transform: none !important;
  color: #959595;
}

.fontTituloinforma {
  font-family: LucidaGrande;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #000000;
}

.Entre-em-contato-cas {
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  color: #8e8e8e;
}

.padding-bottom {
  padding-bottom: 30px;
}

.fontcopyfood {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #696969;
}

.fontTituloNvConta {
  font-size: 19px;
  font-weight: 900;
  letter-spacing: 0.3px;
  color: #494949;
}

.buttonFinancialInfo:hover {
  background-color: #ed1c24;
  color: #fff;
}

.buttonFinancialInfo {
  border-radius: 100px;
  padding: 0 1.2rem;
  border: solid 1px #ed1c24;
  background-color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #ed1c24;
  text-transform: none;
  margin-left: 15px;
}

.btn_Objetivo {
  min-width: 170px;
  max-width: 170px;
  min-height: 72px;
  max-height: 72px;
  color: #ffffff;
  border-radius: 6px;
  background-color: #494949;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: none;
  line-height: 20px;
  padding: 0;
}

@media (max-width: 1281px) and (min-width: 1130px) {
  .btn_Objetivo {
  min-width: 150px;
  }
}

@media (max-width: 1129px) {
  .btn_Objetivo {
  min-width: 135px;
  }
}

.btn_Objetivo:hover, .btn_Objetivo:focus {
  background-color: #8c8c8c;
}

.btn_Sexo {
  min-width: 5px;
  border-radius: 100px;
  border: solid 1px #ed1c24;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #ed1c24;
}

.btn_Sexo:hover, .btn_Sexo:focus {
  background-color: #ed1c24;
  color: #ffffff;
}

.btn_Sexo.selected {
  background-color: #ed1c24;
  color: #ffffff;
}

.fontLabelHome {
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  color: #8e8e8e;
}

.fontSpanTipoConta {
  font-family: LucidaGrande;
  font-size: 15px;
  text-align: right;
  color: #8e8e8e;
  margin-left: 30%;
}

.info-Profisionais {
  width: 537px;
  height: 44px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  letter-spacing: 0.1px;
  color: #696969;
}


/*Utilizada para definir a cor do step menu*/

.step-menu-bg {
  background-color: #efefef;
}


/*Utilizada para definir a cor de fundo do conteiner do formulário*/

.main-form-bg {
  background-color: #ffffff;
}


/*FIM DAS REGRAsS DO SHARED LAYOUT*/


/* Regra de Input file  */

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.btn-file>input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

.input-file-red {
  background-color: #ed1c24;
}

.fileupload {
  margin-bottom: 9px;
}

.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}

.fileupload .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}

.fileupload .thumbnail>img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
}

.fileupload .btn {
  vertical-align: middle;
}

.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
  display: none;
}

.fileupload-inline .fileupload-controls {
  display: inline;
}

.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.thumbnail-borderless .thumbnail {
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.fileupload-new.thumbnail-borderless .thumbnail {
  border: 1px solid #ddd;
}

.control-group.warning .fileupload .uneditable-input {
  color: #a47e3c;
  border-color: #a47e3c;
}

.control-group.warning .fileupload .fileupload-preview {
  color: #a47e3c;
}

.control-group.warning .fileupload .thumbnail {
  border-color: #a47e3c;
}

.control-group.error .fileupload .uneditable-input {
  color: #b94a48;
  border-color: #b94a48;
}

.control-group.error .fileupload .fileupload-preview {
  color: #b94a48;
}

.control-group.error .fileupload .thumbnail {
  border-color: #b94a48;
}

.control-group.success .fileupload .uneditable-input {
  color: #468847;
  border-color: #468847;
}

.control-group.success .fileupload .fileupload-preview {
  color: #468847;
}

.control-group.success .fileupload .thumbnail {
  border-color: #468847;
}

.material-placeholder {
  width: 100% !important;
  height: 100% !important;
}

.thumbnail-wrapper {
  position: relative;
  width: 100% !important;
  height: 100% !important;
}

.thumbnail-wrapper label {
  position: absolute;
  top: 85%;
  left: 90% !important;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}


/* Alterações             */

.meuCEP {
  width: 124px;
  height: 16px;
  font-family: Gotham;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #000000;
  cursor: pointer;
}


/** FORMS CSS INICIO **/

.under_input_text_btn {
  float: right;
  margin-top: -15px;
  cursor: pointer;
  letter-spacing: 0.2px;
  color: #2e3532;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

.under_input_text_small {
  float: left;
  margin-top: -15px;
  margin-left: 55px;
  cursor: default;
  font-family: Gotham;
  font-size: 9px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #9b9b9b;
}

.formGrayBox2 {
  background-color: #f8f8f8;
  /*margin-bottom: 20px;*/
  padding: 25px !important;
  width: 90% !important;
  margin-left: 5% !important;
}

.formGrayBox {
  background-color: #f8f8f8;
  margin-bottom: 20px;
  padding: 25px !important;
  width: 90% !important;
  margin-left: 5% !important;
}

.box-separator {
  border: solid 1px rgba(230, 230, 230, 0.89);
  background-color: rgba(230, 230, 230, 0.89);
}

.reduceMarginBottom
{
  margin-bottom: 10px;
}
.infoDocumento
{
    margin-top:10px;
}
.noLeftPadding{
  padding-left: 0px;
}
.labelFrenteVerso, .labelFrente, .labelVerso
{
   font-family: gotham-bold;
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   color: #8e8e8e;
   margin-top: 0px;

}

.labelFrenteVerso
{
  padding-left: 40% !important;
}

.labelFrontBackImage {
    font-family: gotham-bold;
    font-size: 12px;
    font-weight: bold;
    padding-right: 45px !important;
    text-align: right;
    color: #8e8e8e;
    margin-top: 0px;
}

.boxTitle {
  font-size: 1rem;
  font-style: bold;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8e8e8e;
  font-weight: bold;
  text-align: left;
  font-family: gotham-bold;
  margin: 0px;
}

.boxList {
  margin-left: 15px;
  list-style-type: square !important;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 200%;
  letter-spacing: 0.1px;
  color: #ed1c24;
  font-family: Gotham;
}

.boxList span {
  color: #8a8a8a;
}

.uploadBox {
  position: relative;
  width: 206px;
  height: 127px;
  border: dotted 1px #979797;
  background-color: #ffffff;
}

.uploadBoxDoc {
  position: relative;
  width: 206px;
  height: 127px;
  border: dotted 1px #979797;
  background-color: #ffffff;
  padding: 15px;
}

.fileAreaDoc {
  height: 50px;
  margin-top: 23px;
}

.btn-upload {
  background-color: #ffffff;
  font-size: 11px;
  color: #696969;
  border: solid 1px #b3b3b3;
}


/** FORMS CSS FIM **/


/*INICIO DAS REGRAS QUE AFETAM AS COLUNAS DO CONTEÚDO PRINCIPAL DO SHARED LAYOUT*/

article {
  float: left;
  width: 25%;
  background: #ccc;
  padding: 1%;
}

.navbar-content {
  padding: 3% 0% 0% 1% !important;
  background-color: #363636;
  min-width: 250px !important;
}

.form-content {
  padding: 2% 2% 2% 2% !important;
  background-color: #ffffff;
  margin-bottom: 2%;
}

@media all and (max-width: 1280px) {
  article {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .custom-panel {
    margin-top: 1em;
  }
}

@media screen and (max-width:600px) {
  .firstButton {
    margin-left: 0 !important;
  }
}


/*FIM DAS REGRAS QUE AFETAM AS COLUNAS DO CONTEÚDO PRINCIPAL DO SHARED LAYOUT*/


/** FORMS CSS INICIO **/

.under_input_text_btn {
  float: right;
  margin-top: -15px;
  cursor: pointer;
  letter-spacing: 0.2px;
  color: #2e3532;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

.uploadBox {
  position: relative;
  width: 206px;
  height: 127px;
  border: dotted 1px #979797;
  background-color: #ffffff;
}

.uploadBoxDoc {
  position: relative;
  width: 206px;
  height: 127px;
  border: dotted 1px #979797;
  background-color: #ffffff;
  padding: 15px;
}

.spanSpacing {
  margin-top: 8%;
  margin-bottom: 35px;
}

.fileAreaDoc {
  height: 50px;
  margin-top: 23px;
}

.btn-upload {
  background-color: #ffffff;
  font-size: 11px;
  color: #696969;
  border: solid 1px #b3b3b3;
}


/** FORMS CSS FIM **/


/** FORMS CSS - personal.data.html INICIO **/

.switch label input[type=checkbox]:checked+.lever {
  background-color: #ed1c24 !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #ffffff !important;
  left: 24px !important;
}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 47px !important;
  height: 26px !important;
  background-color: #e2e2e2 !important;
  border-radius: 15px;
  margin-right: 10px;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px
}

.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 21px;
  background-color: #ffffff !important;
  border-radius: 21px;
  box-shadow: 0 0px 0px 0px !important;
  left: 2px !important;
  top: 2px !important;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease
}


.reduceMarginBottomDocument
{
  margin-bottom: 6px;
}

/** FORMS CSS - personal.data.html FIM **/

.error-info {
  font-size: .8rem;
  display: block;
  content: "";
  position: absolute;
  top: 45px;
  transition: .2s opacity ease-out, .2s color ease-out;
  color: #F44336;
  opacity: 1;
}

.success-info {
  font-size: .8rem;
  display: block;
  content: "";
  position: absolute;
  top: 45px;
  transition: .2s opacity ease-out, .2s color ease-out;
  color: #0f9d58;
  opacity: 1;
}

.error-info-img {
  font-size: .7rem;
  display: block;
  position: absolute;
  content: "";
  transition: .2s opacity ease-out, .2s color ease-out;
  color: #F44336;
  opacity: 1;
}

.wrapper {
  min-width: 500px;
  /*max-width: 700px;*/
  margin: 0 auto;
}

#content {
  margin-left: 280px;
  margin-right: 25px;
  /* = sidebar width + some white space */
}

#overlay {
  position: fixed;
  top: 114px;
  bottom: 114px;
  width: 100%;
  height: 80%;
}

#overlay .wrapper {
  height: 100%;
}

#sidebar {
  height: 100vh;
  float: left;
}

#sidebar:hover {
  overflow-y: auto;
}

#sidebar>* {
  max-width: 225px;
  /* leave some space for vertical scrollbar */
}

.icon_box {
  min-width: 70px;
  min-height: 70px;
  text-align: center;
}

.icon_box img {
  height: 100%;
  width: auto;
  vertical-align: bottom;
}

.open_acount_text {
  font-family: Gotham-Bold !important;
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.4px;
  color: #ed1c24;
}

.open_acount_textNotBold {
  font-family: Gotham !important;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.4px;
  color: #494949;
}

.open_acount_text.black_text {
  font-family: Gotham;
  font-weight: bold;
  color: #494949;
}

.explication_text {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.24;
  letter-spacing: 0.2px;
  color: #494949;
}

.gotham-medium{
  font-family: Gotham-Medium !important;
}

.gotham-regular{
  font-family: Gotham !important;
}

.gotham-bold {
  font-family: Gotham-Bold !important;
  /*font-weight: bold !important;*/
}

.adjustBottonHelp{
  position: absolute;
  top: 10px;
}

.icon_text {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.53;
  letter-spacing: 0.2px;
  text-align: center;
  color: #494949;
  margin-bottom: 0px;
}

.icon_textReduce{
  font-size: 13px !important;
}

.removeMarginBottom {
  margin-bottom: 0px !important;
}

.perfilInvestidorText{
  font-family: Gotham;
  font-size: 12px;
  font-style: italic;
  line-height: 1.53;
  letter-spacing: 0.1px;
  text-align: center;
  color: #494949;
  margin-top: 0px;
}

.start_registration_label {
  font-size: 20px;
  vertical-align: bottom;
  letter-spacing: 0.3px;
  color: #494949;
}

.basic_info_label1 {
  font-family: Gotham-Medium !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  color: #494949;
}

.question-container {
    display: flex;
}

.basic_info_label_obs {
  font-family: Gotham;
  font-size: 11px;
  font-style: italic;
  line-height: 1.7;
  color: #494949;
}

.objective_label {
  font-size: 28.9px;
  font-weight: bold;
  color: #494949;
  vertical-align: bottom;
}

.objective_final_text {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #494949;
}

.removeMargin {
  margin-bottom: 0px !important;
  margin-right: 0px;
  margin-left: 0px;
}

.removeMarginTopDown {
  margin-bottom: 0px !important;
  padding-top:0px !important;
  margin-top: 0px !important;
  padding-bottom: 0px !important;
}

/*** CSS usado para o sufix (icon tooltip)***/

.input-field.suffix i {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  transition: color .2s;
  top: 0px;
  right: 0px;
}

.input-field.suffix i.active {
  color: #26a69a;
}

.input-field.suffix input, .input-field.suffix textarea {
  margin-right: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
}

.input-field.suffix textarea {
  padding-top: .8rem;
}

.input-field.suffix label {
  margin-right: 3rem;
}

@media only screen and (max-width: 992px) {
  .input-field.suffix input {
    width: 86%;
    width: calc(100% - 3rem);
  }
}

@media only screen and (max-width: 600px) {
  .input-field.suffix input {
    width: 80%;
    width: calc(100% - 3rem);
  }
}


/*** CSS usado para o prefix (icon )***/

.input-field.preffix i {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  transition: color .2s;
  top: 0px;
  left: 0px;
  margin-top: 50px;
}

.input-field.preffix i.active {
  color: #26a69a;
}

.input-field.preffix input, .input-field.preffix textarea {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
}

.assinatura {
  margin-left: 0 !important;
}

.input-field.preffix textarea {
  padding-top: .8rem;
}

.input-field.preffix label {
  margin-left: 3rem;
}

@media only screen and (max-width: 992px) {
  .input-field.preffix input {
    width: 86%;
    width: calc(100% - 3rem);
  }
}

@media only screen and (max-width: 600px) {
  .input-field.preffix input {
    width: 80%;
    width: calc(100% - 3rem);
  }
}

.toast {
  position: fixed !important;
  top: 280px !important;
  /*bottom: 600px !important;*/
  left: 1500px !important;
}

.toast div {
  width: 100% !important;
  text-align: right;
}

.alignHelpIcon {
  padding-top: 12px !important;
  padding-right: 40px !important;
}


/*INICIO DO CSS DAS PÁGINAS DO PERFIL DO INVESTIDOR*/

.fontTextDescricaoPerfil {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.1px;
  text-align: center !important;
  color: #8a8a8a;
  margin-top: 30px;
  margin-bottom: 60px;
}

.fontYesNoQUestion {
  font-family: OpenSans;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.1px;
  text-align: center;
  color: #494949;
  margin-bottom: 20px;
}

.styleButtonNo {
  height: 60px;
  width: 140.6px;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #979797;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #959595;
}

.styleButtonNo:hover {
  width: 180.8px;
  height: 66px;
  border-radius: 6.6px;
  background-color: #ffffff;
  font-family: Gotham-Medium;
  border: solid 1.1px #c20600;
  font-size: 17.6px;
  font-weight: 500;
  text-align: center;
  color: #c20600;
}

.styleButtonNo:focus {
  background-color: #fff;
}

.styleButtonYes {
  width: 141.5px;
  height: 60px;
  border-radius: 6px;
  background-color: #ed1c24;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-left: 20px;
}

.styleButtonYes:hover {
  width: 180.8px;
  height: 66px;
  border-radius: 6px;
  background-color: #c20600;
  font-family: Gotham-Bold;
  font-size: 17.6px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.styleButtonYes:focus {
  background-color: #ed1c24;
}

.grayWarningBox {
  background-color: #f8f8f8;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: #8a8a8a;
  margin-bottom: 60px;
  margin-top: 20px;
}

.footer-disclaimer {
    font-family: Gotham;
    font-size: 12px;
    color:#494949;
    font-weight: 300;
    display: block;
    line-height: 1.4;
}

.grayWarningPadding {
  padding: 15px 10px 15px 10px !important;
}

.styleSaveForLater {
  width: 280px;
  height: 60px;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #979797;
  font-weight: 500;
  font-size: 16px;
  font-family: Gotham-Medium;
  text-align: center;
  color: #959595;
  padding: 0 !important;
  text-transform: none;
}

.styleSaveForLater:hover {
  width: 300px;
  height: 66px;
  border-radius: 6.6px;
  background-color: #ffffff;
  font-family: Gotham-Medium;
  border: solid 1.1px #c20600;
  font-size: 17.6px;
  font-weight: 500;
  text-align: center;
  color: #c20600;
}

.styleSaveForLater:focus {
  background-color: #fff;
}

.styleProceed {
  width: 280px;
  height: 60px;
  border-radius: 6px;
  background-color: #ed1c24;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.styleProceed:hover {
  width: 300px;
  height: 66px;
  border-radius: 6.6px;
  background-color: #c20600;
  font-family: Gotham-Bold;
  font-size: 17.6px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.styleProceed:focus {
  background-color: #ed1c24;
}

@media only screen and (max-width: 1100px){
    .styleSaveForLater {
        width: 200px;
        height: 60px;
        border-radius: 6px;
        background-color: #ffffff;
        border: solid 1px #979797;
        font-weight: 500;
        font-size: 12px;
        font-family: Gotham-Medium;
        text-align: center;
        color: #959595;
        padding: 0 !important;
        text-transform: none;
    }
    .styleSaveForLater:hover {
        width: 215px;
        height: 66px;
        border-radius: 6.6px;
        background-color: #ffffff;
        font-family: Gotham-Medium;
        border: solid 1.1px #c20600;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        color: #c20600;
    }

    .styleProceed {
      width: 200px;
      height: 60px;
      font-size:12px;
      border-radius: 6px;
      background-color: #ed1c24;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
    }

    .styleProceed:hover {
      width: 215px;
      height: 66px;
      border-radius: 6.6px;
      background-color: #c20600;
      font-family: Gotham-Bold;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
    }

}

.fontFormTituloQuestionario {
  font-family: Gotham-Medium;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #2e3532;
}

.fontIndexQuestionario {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #434343;
}

.alinhamento{
    display: -webkit-flex;
    margin-left: 6px !important;
}

.fontPerguntasQuestionario {
  font-family: OpenSans;
  /*padding-top:5px !important;*/
  padding-left: 10px !important;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #2e3532;
  line-height: 2;
  /*margin-left: 15px !important;*/
}

.fontRespostaQuestionario {
  font-size: 12px !important;
  font-weight: 300;
  /*line-height: 1.33 !important;*/
  letter-spacing: 0.1px;
  color: #8a8a8a;
}

.surveySeparator {
  height: 2px;
  border: solid 1px #cecece;
  margin: 30px 0 30px 0;
}

.recomendarProdutoSeparator {
  height: 2px;
  border: solid 1px #cecece;
  margin: 60px 0 60px 0;
}

.answerSpacing {
  margin-top: 15px;
  padding-left: 0px !important;
  margin-left: 0 !important;
}

.surveyButtonSpacing {
  margin-top: 5em;
}

.surveyResult {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.4px;
  color: #2e3532;
  font-family: Gotham-Black;
  margin-bottom: 20px;
}

.fontTextResultStatic {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #2e3532;
  margin-top: 30px;
}

.fontTextSurveyResult {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: #8a8a8a;
  text-align: justify;
}

.fontTextSurveyWarning {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.1px;
  text-align: center;
  color: #8a8a8a;
  margin-top: 15px;
}

.fontTextSurveyChoice {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: #8a8a8a;
  text-align: center;
  /*margin-top: 60px;*/
}

.fontBotaoEndSurvey {
  width: 280px;
  height: 60px;
  border-radius: 6px;
  background-color: #ed1c24;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  margin-left: 0px;
  text-transform: none;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
  background-color: #ffffff;
  border: solid 1px #979797;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
  padding-left: 25px;
}


/*FIM DO CSS DAS PÁGINAS DO PERFIL DO INVESTIDOR*/

/* CONTROLE DE TEXTO - ENVIO DE DOCUMENTAÇÃO */

.textFormting{
  text-transform: initial;
  text-decoration: underline;
  cursor: pointer;
  font-family: Gotham;
  font-size: 0.9  em;
  color: #696969;
  margin-top: 15px;
}

/*FIM CONTROLE DE TEXTO - ENVIO DE DOCUMENTAÇÃO*/

/*INICIO DO CSS QUE MOSTRA IMAGEM DO NÚMERO DO CODIGO DE SEG NA PAG. DE DOC.*/

.toast {
  position: fixed !important;
  top: 280px !important;
  /*bottom: 600px !important;*/
  left: 1500px !important;
}

.toast div {
  width: 100% !important;
  text-align: right;
}

.toast div a {
  cursor: pointer;
}


/*INICIO DO CSS QUE MOSTRA IMAGEM DO NÚMERO DO CODIGO DE SEG NA PAG. DE DOC.*/

[type="checkbox"].filled-in:disabled:checked.ck-red-disabled+label:after {
  border-color: #ed1c24;
  background-color: #ed1c24;
}

.basic-info-manager-ckb-label {
  margin-top: -10px;
}

.basic-info-manager-info {}

.basic-info-managerPhoto {
    height:50px;
    object-fit: cover;
    width: 50px;
    vertical-align: middle;
}
.fontManagerName
{
  white-space: nowrap;
}

.basic-info-managerName {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #2e3532;
  vertical-align: middle;
  padding-left: 22px;
}

.btn-red-modal {
  background-color: #ed1c24 !important;
  color: #fff !important;
  font-family: Gotham-Medium !important;
  float: right !important;
  margin: 6px 0 !important;
  border: none;
  border-radius: 2px;
  padding: 0 2rem;
  text-transform: uppercase;
  height: 36px;
  line-height: 36px;
}

.emancipatedTooltip {
  font-size: 14px;
  text-align: left;
  color: #8e8e8e;
}

#toast-container {
  top: 10% !important;
  right: auto !important;
  bottom: auto !important;
  left:7%;
}

@media only screen and (max-width: 1249px) {

.imageFrontHasBack .uploadBox, .imgBack .uploadBox
  {
    width: 130px;
  }
.imageFront .uploadBox
  {
    width: 165px;
  }
  .spanFile
  {
    font-size: 9px;
  }
  .labelFrenteVerso
  {
    float: left !important;
    margin-left: 18%;
  }
  .formGrayBox
  {
      padding-right: 0px !important;
  }
.imageFrontHasBack #divFile, .imgBack #divFile
  {
    padding-left: 1%;
    padding-right: 10%;
  }
.imageFront #divFile
  {
    padding-left: 8%;
    padding-right: 20%;
  }


  .labelVerso, .labelFrente
  {
    text-indent: 45px;
  }
  .labelFrenteVerso{
    text-indent: 20px;
  }
}

@media only screen and (max-width: 1350px) and (min-width: 1250px) {
  .imageFrontHasBack .uploadBox, .imgBack .uploadBox
  {
    width: 150px;
  }
 .imageFrontHasBack #divFile, .imgBack #divFile
  {
    padding-left: 3%;
    padding-right: 3%;
  }
  .labelVerso, .labelFrente
  {
    text-indent: 50px;
  }
  .labelFrenteVerso{
    text-indent: 35px;
  }
  .formGrayBox
  {
      padding-right: 6px !important;
  }
}

@media only screen and (max-width: 1499px)  and (min-width: 1351px) {
.imageFrontHasBack .uploadBox, .imgBack .uploadBox
  {
    width: 166px;
  }
.imageFrontHasBack #divFile, .imgBack #divFile
  {
    padding-left: 5%;
    padding-right: 5%;
  }
  .labelVerso, .labelFrente
  {
    text-indent: 50px;
  }
  .labelFrenteVerso{
    text-indent: 55px;
  }
}

@media only screen and (max-width: 1629px)  and (min-width: 1500px) {
.imageFrontHasBack .uploadBox, .imgBack .uploadBox
  {
    width: 185px;
  }
.imageFrontHasBack #divFile, .imgBack #divFile
  {
    padding-left: 10%;
    padding-right: 14%;
  }
  .labelVerso, .labelFrente
  {
    text-indent: 50px;
  }
  .labelFrenteVerso{
    text-indent: 10%;
  }
}

@media only screen and (min-width: 1630px) and (max-width: 1750px)   {
  .labelVerso, .labelFrente
  {
    text-indent: 76px;
  }
  .labelFrenteVerso{
    text-indent: 42%;
  }
}


@media only screen and (min-width: 1751px) {
  .labelVerso, .labelFrente
  {
    text-indent: 76px;
  }
  .labelFrenteVerso{
    text-indent: 49%;
  }
}
@media only screen and (min-width: 1351px) {
  .contentSizing{
    margin-left: 10%;
    margin-top: 50px;
    width: 80%;
    min-height: 80vh;
  }
}

.row .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

@media only screen and (min-width: 1350px){
  .row .col.l10 {
      width: 83.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
  }
  .separator {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 993px){
  .row .col.l10 {
      width: 75.3333333333%;
      margin-left: 0;
      left: auto;
      right: auto;
  }
}

@media only screen and (min-width: 601px){
  .row .col.m10 {
      width: 75.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1429px){
    .myContainer {
      width: 95%;
  }
}

@media only screen and (min-width: 1377px) and (max-width: 1429){
    .myContainer {
      margin-right: 2% !important;
      margin-left: 8% !important;
      width: 90% !important;
  }
}

@media only screen and (max-width: 1280px){

}

.removePadding {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-left: 0px !important;
  left: 0px !important;
  margin-right: 0px !important;
  right: 0px !important;
}

.removeAllPadding {
  padding: 0px !important;
  margin: 0px !important;
}

@media only screen and (min-width: 601px) and (max-width: 999px){
  .open_acount_text{
    font-size: 28px !important;
  }
}


.input-field.preffix label {
    margin-left: 2rem;
}

.input-field.preffix input, .input-field.preffix textarea {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 2rem);
}

.material-tooltip {
    width: 300px !important;
}

md-input-container .md-auto-hide .md-input-message-animation:not(.ng-animate), md-input-container .md-input-message-animation.ng-enter, md-input-container:not(.md-input-invalid) .md-auto-hide .md-input-message-animation {
  opacity: 1;
  margin-top: 0px;
}

.ng-messages-fix{
  visibility: hidden;
}

.info-basic_info_label2{
  font-weight: 900;
  font-size: 15px;
}

@media only screen and (min-width: 601px){
  .adjustBottonHelp{
    right: -15px !important;
  }
  .modal .modal-content .row{
    margin-bottom: 1px !important;
  }
  .modal .modal-content{
    padding: 8px;
  }
  .modal {
    width: 60% !important;
    max-height: 80% !important;
    /*max-height:  75% !important;*/
  }
}

@media only screen and (min-width: 993px){
  .modal .modal-content .row{
    margin-bottom: 8px !important;
  }
  .modal .modal-content{
    padding: 20px;
  }
  .modal {
    width: 50% !important;
    /*max-height:  70% !important;*/
    max-height: 80% !important;
  }
}

@media only screen and (min-width: 1350px){
  .modal .modal-content .row{
    margin-bottom: 10px !important;
  }
  .modal .modal-content{
    padding: 20px;
  }
  .modal {
      width: 40% !important;
    /*max-height:  65% !important;*/
    max-height: 80% !important;
  }
}

@media only screen and (min-width: 1700px){
    .modal {
      width: 30% !important;
      /*max-height:  65% !important;*/
      max-height: 80% !important;
    }
}
